.text-center {
    text-align: center;
    background-color: aqua ;
    width: 300px;
    margin: 60px auto;
    

  
  
  
}



.mx-auto {
  margin: auto
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
} 
